* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  background-image: url(https://bilimneguzellan.net/wp-content/uploads/2016/08/s%C3%BCrpriz-1-800x445.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  /* border: 1px solid red; */
  text-align: center;
  background-color: rgb(38, 38, 65);
}
.navbar ul {
  display: inline-flex;
  list-style-type: none;
}
.navbar > ul li {
  /* border: 1px solid red; */
  background-color: rgb(65, 65, 151);
  width: 120px;
  height: 50px;
  margin: 1rem;
  padding: 0.1rem;
  border-radius: 20px;
}
.navbar ul li:hover {
  background-color: rgb(8, 8, 49);
}

a {
  text-decoration: none;
  color: white;
}
.navbar .fa-solid {
  margin: 0.5rem;
}
.ac覺l覺r p {
  display: none;
}
.ilkli:hover .ac覺l覺r p {
  width: 120px;
  height: 50px;
  background-color: rgb(65, 65, 151);
  color: white;
  display: inline-block;

  border-radius: 10px;
}
.sonli:hover .fa-angle-up {
  transform: rotateX(180deg);
}
